/* Basic Reset */
body, h1, p, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e0e0e0, #c0c0c0);
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.logo img {
    height: 50px;
}

.contact-info p {
    margin: 0;
    font-size: 16px;
  color: white;
  
  }

@media (max-width: 768px) {
    .contact-info p {
        color: white;
    }

}

.product-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: scale(1.02);
}

.product-item img {
    width: 100%;
    height: auto;
}

.product-item p {
    margin: 10px 0;
}

.stock-info {
    display: none;
    font-weight: bold;
    color: #f00;
}
